<a href="/createvote">Create vote</a>
<div class="content">
	<table>
		<thead>
			<tr>
				<th>Id</th>
				<th>Voter</th>
				<th>Site</th>
				<th>Quest</th>
				<th>Updated</th>
				<th>Status</th>
			</tr>
		</thead>
		<tbody>
			<% @votes.each do |vote| %>
				<tr>
					<th><%= vote.id %> </th>
					<td><%= vote.voter_count %> </td>
					<td><%= Site.find(vote.site_id).domain %></td>
					<td><a href="/votes/<%= vote.id %>"> <%= vote.quest %> </a></td>
					<td> <%= convert_time(vote.updated) %> </td>
					<td> <% if vote.isend? %> End <% else %> In progress <% end %> </tr>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>
