<div class="content">
	<table class="table">
		<thead>
			<tr>
				<th style="width: 1em;">Vote</th>
				<th class="dm-mobile-table" style="width: 0;">Site</th>
				<th>Quest</th>
				<th style="width: 8em;">Updated</th>
				<th class="dm-mobile-table" style="width: 9em;">Status</th>
			</tr>
		</thead>
		<tbody>
			<% @votes.each do |vote| %>
				<tr onclick="window.location='/votes/<%= vote.id %>'">
					<td><%= vote.voter_count %> </td>
					<td class="dm-mobile-table"><%= Site.find(vote.site_id).domain %></td>
					<td><%= vote.quest %> </td>
					<td> <%= convert_time(vote.updated) %> </td>
					<td class="dm-mobile-table"> <% if vote.isend? %> End <% else %> In progress <% end %> </td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>
