<% if @vote.isend? %>
	<div class="notification is-info">
		<% if @vote.status == 1 %>
			This vote is finished. `<%= Choice.find(@vote.id).text %>` have win.
		<% elsif @vote.status == 2 %>
			Not enought people have vote.
		<% elsif @vote.status == 3 %>
			More than one choices have win.
		<% end %>
	</div>
<% end %>
<div class="content">
	<h1><%= @vote.quest %></h1>
	<p> <%= @vote.published %> </p>
	<%= form_tag "/votes/" + @vote.id.to_s, method: :post do %>
		<% i = 0 %>
		<% @choices.each do |choice| %>
		<% if @current_votelog and @current_votelog.vote == i %>
			<button class="button is-primary is-medium" name="vote" value=<%= i %> <% if @vote.isend? %>disabled<% end %>><%= choice.vote_count %> <%= choice.text %></button>
		<% else %>
			<button class="button is-medium"  name="vote" value=<%= i %> <% if @vote.isend? %>disabled<% end %>><%= choice.vote_count %> <%= choice.text %></button>
		<% end %>
		<% i = i + 1 %>
		<% end %>
	<% end %>
	<p> <%= @vote.description %> </p>
	<table>
	<thead>
		<tr>
			<th>Voter Hash</th>
			<th>Updated</th>
			<th>Vote</th>
		</tr>
	</thead>
	<tbody>
	<% @votelogs.each do |votelog| %>
		<tr>
			<td><%= votelog.voter_hash %></td>
			<td><%= votelog.updated %></td>
			<th>
				<% if votelog.vote != -1 %>
					<%= @choices[votelog.vote].text %>
				<% end %>
			</td>
		</tr>
	<% end %>
	</tbody>
	</table>
</div>
