<h1><%= @vote.quest %></h1>
<%= form_tag "/votes/" + @vote.id.to_s, method: :post do %>
  <button name="vote" value=0><%= @vote.vote[0] %> yes</button>
  <button name="vote" value=1><%= @vote.vote[1] %> no</button>
<% end %>
<% @votelogs.each do |votelog| %>
<p> <%= User.find(votelog.user_id).name %> <%= votelog.vote %> </p>
<% end %>
