<!DOCTYPE html>
<html>
  <head>
    <title>Demokratia</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= flash[:sucess] %>
    <%= flash[:fail] %>
	<header>
		<h1> Demokratia </h1>
		<nav>
			<ul>
				<li> <a href="/">home</a> </li>
				<li> <a href="/votes">votes</a> </li>
			</ul>
		</nav>
		<% if @current_user %>
			<p> <%= @current_user.name %>
			<a href="/disconnect">disconnect</a>
		<% else %>
			<a href="/register">register</a>
			<a href="/login">login</a>
		<% end %>
	</header>
    <%= yield %>
  </body>
</html>
