<!DOCTYPE html>
<html>
  <head>
    <title>Demokratia</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= flash[:sucess] %>
    <%= flash[:fail] %>
    <% if @current_user %>
      <h1> <%= @current_user.name %> </h1>
    <% end %>
    <%= yield %>
  </body>
</html>
